p Time span of commits: #{userInfo.timeSpan}
p Number of commits: #{userInfo.commits}

p #{userInfo.projectTitleList[0].title}
p #{userInfo.projectTitleList[1].title}
p #{userInfo.projectTitleList[2].title}
p #{userInfo.projectTitleList[3].title}
p #{userInfo.projectTitleList[4].title}
